<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of items</title>
</head>
<body>
<h1>That is your full list!</h1><br>
    {% for p, category in data  %}
<li><b>{{p.id}}.</b>  Name: {{p.name}} Quantity: {{p.quantity}} Type: {{p.product_type}} Category: {{p.category.name}} Description: {{p.description}}</li>
    {% endfor %}
<br><button type="button" onclick="window.location.href='{{ url_for( 'submit', form = MyForm)}}';">Add new item</button>
<button type="button" onclick="window.location.href='{{ url_for( 'homepage', form = MyForm)}}';">Homepage</button>
<button type="button" onclick="window.location.href='{{ url_for( 'delete')}}';">Create new list</button>
<button type="button" onclick="window.location.href='{{ url_for( 'removal', erase = RemoveForm)}}';">Delete item</button>

</body>
</html>