<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
You just updated your item :)

    <button type="button" onclick="window.location.href='{{ url_for( 'homepage', form = MyForm)}}';">Homepage</button>
    <button type="button" onclick="window.location.href='{{ url_for( 'submit', form = MyForm)}}';">Add new item</button>
    <button type="button" onclick="window.location.href='{{ url_for( 'display_data', data=data)}}';">Display the list</button>

</body>
</html>